/*
 * @Author: sds 
 * @Date: 2022-02-23 17:26:51 
 * @Last Modified by: sun.t
 * @Last Modified time: 2022-04-12 15:01:47
 */
@import "../colors.scss";

.ease-app {
  .portal-antd-picker {
    color: $font;
    background-color: $dropdown-select-background;
    border-radius: 2px;
    background: $rangePicker-picker-background !important;
    border: 1px solid $rangePicker-picker-border !important;

    // ×背景
    .portal-antd-picker-clear {
      background: transparent;
      color: #ffffff;
    }

    .portal-antd-picker-suffix {
      color: #ffffff;
    }

    .portal-antd-picker-input>input {
      color: $font;
    }

    .portal-antd-picker-range-separator {
      color: $font;
    }
  }

  .portal-antd-picker-panel-container {
    background: rgb(1, 9, 13, 0.9);
  }

  .portal-antd-picker-panel {
    background: rgb(1, 9, 13, 0.9);
    color: #fff;
  }

  .portal-antd-picker-header,
  .portal-antd-picker-cell-in-view {
    color: #00e4ff;
  }

  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-selected .portal-antd-picker-cell-inner,
  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-range-start .portal-antd-picker-cell-inner,
  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-range-end .portal-antd-picker-cell-inner {
    background: rgba(0, 227, 255, 0.2) !important;
    border: 1px solid #00e3ff !important;
    border-radius: 4px !important;
  }

  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-range-start:not(.portal-antd-picker-cell-range-start-single):not(.portal-antd-picker-cell-range-end) .portal-antd-picker-cell-inner:hover {
    background: #00e4ff !important;
  }

  .portal-antd-picker-cell-inner:hover {
    color: #fff !important;
    background: #00e4ff !important;
  }

  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-in-range::before,
  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-range-start:not(.portal-antd-picker-cell-range-start-single)::before,
  .portal-antd-picker-cell-in-view.portal-antd-picker-cell-range-end:not(.portal-antd-picker-cell-range-end-single)::before {
    background: rgb(236, 226, 226, 0.2) !important;
  }

  .portal-antd-picker:hover .portal-antd-picker-clear {
    // background: none;
  }

  .portal-antd-picker-header-prev-btn,
  .portal-antd-picker-header-super-prev-btn,
  .portal-antd-picker-header-next-btn,
  .portal-antd-picker-header-super-next-btn {
    color: rgba(0, 227, 255, 1) !important;
  }

  .portal-antd-picker-date-panel .portal-antd-picker-content th {
    color: #fff !important;
  }

  .portal-antd-picker-header-view button {
    color: #fff;
  }

  .portal-antd-picker-header,
  .portal-antd-picker-cell-in-view {
    color: #fff !important;
  }

  .portal-antd-picker-time-panel-column>li.portal-antd-picker-time-panel-cell .portal-antd-picker-time-panel-cell-inner {
    color: #fff !important;
  }

  .portal-antd-picker-time-panel-column>li.portal-antd-picker-time-panel-cell-selected .portal-antd-picker-time-panel-cell-inner {
    background: rgba(0, 227, 255, 0.2) !important;
    border: 1px solid #00e3ff !important;
  }

  .portal-antd-picker-time-panel-column>li.portal-antd-picker-time-panel-cell .portal-antd-picker-time-panel-cell-inner:hover {
    background: rgba(0, 227, 255, 0.2) !important;
  }

  // 删掉，影响全局icon样式
  // .anticon svg {
  //   color: #fff
  // }
}