/*
 * @Author: sds 
 * @Date: 2022-02-23 17:26:51 
 * @Last Modified by: sun.t
 * @Last Modified time: 2022-04-14 20:55:57
 */
@import './colors.scss';

.ease-app {
  .portal-antd-radio-wrapper {
    color: rgba(255, 255, 255, 0.8);
  }

  .portal-antd-radio-wrapper-checked {
    color: $font;
  }

  .portal-antd-radio-wrapper:hover .portal-antd-radio,
  .portal-antd-radio:hover .portal-antd-radio-inner,
  .portal-antd-radio-input:focus+.portal-antd-radio-inner {
    border-color: $table-expand-icon;
  }

  .portal-antd-radio-checked .portal-antd-radio-inner {
    border-color: $table-expand-icon;
  }

  .portal-antd-radio-input:focus+.portal-antd-radio-inner {
    box-shadow: none;
  }

  .portal-antd-radio-inner {
    background-color: rgba(1, 26, 43, 1);

    &:focus-visible {
      outline: none;
    }
  }

  .portal-antd-radio-inner::after {
    transform: scale(0.4);
    background-color: $table-expand-icon;
  }

  .portal-antd-radio-group {
    .portal-antd-radio-button-wrapper {
      background: transparent;
      color: $font;

      &:hover {
        color: $font-layout-toggle;
        border: 1px solid $font-layout-toggle;
      }

      &:focus-within {
        box-shadow: none;
      }
    }

    .portal-antd-radio-button-wrapper-checked:not(.portal-antd-radio-button-wrapper-disabled) {
      color: $font-layout-toggle;
      border-color: $radio-border-checked;
      background: #006694;
    }

    .portal-antd-radio-button-wrapper-checked:not([class*=' portal-antd-radio-button-wrapper-disabled']).portal-antd-radio-button-wrapper:first-child {
      border-right-color: $radio-border-checked;
      background: rgba(0, 102, 148, 0.6);
    }

    .portal-antd-radio-button-wrapper {
      border-color: $radio-border;
      background: rgba(0, 102, 148, 0.3);
      border-left-width: 1px;
    }

    .portal-antd-radio-button-wrapper:not(:first-child)::before {
      background: none;
    }
  }
}