@import '~@style/variable/component.scss';

.view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // background: rgba(15, 42, 59, 0.8);

    .search {
        margin-bottom: 8px;
    }
    .searchInput {
        :global {
            .portal-antd-input {
                border: 1px solid $search-input-border;
            }
        }
    }

    .treeContainer {
        flex: 1;
        overflow: auto;

        :global {
            .portal-antd-tree-treenode[aria-selected='false'] {
                color: rgba(255, 255, 255, 0.5);
            }

            .portal-antd-tree-treenode[aria-selected='false'] .portal-antd-tree-node-content-wrapper {
                cursor: unset;
            }

            .portal-antd-tree-list-scrollbar {
                display: block;

                .portal-antd-tree-list-scrollbar-thumb {
                    background: rgba(26, 159, 179, 0.4) !important;
                }
            }
        }
    }
}

.title {
    display: flex;
    align-items: center;

    // 样式移动到全局
    .content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    :global {
        .portal-antd-tree-treenode {
            width: -webkit-fill-available;
        }

        .portal-antd-tree-node-content-wrapper {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.searchedStr {
    color: rgb(96, 196, 222);
}

.emptyDesc {
    color: #ffffff;
}
