/*
 * @Author: sun.t 
 * @Date: 2022-05-10 16:01:08 
 * @Last Modified by: sun.t
 * @Last Modified time: 2022-05-10 16:02:03
 * @Description: 加important是因为apollo的样式影响到了AAPP
 */
@import '~@style/variable/color.scss';

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(26, 159, 179, 0.4);
    background-image: none !important;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(26, 159, 179, 0.4);
    background-image: none !important;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}
