@font-face {
  font-family: "portal-iconfont"; /* Project id 3030026 */
  src: url('iconfont.eot?t=1659517985092'); /* IE9 */
  src: url('iconfont.eot?t=1659517985092#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1659517985092') format('woff2'),
       url('iconfont.woff?t=1659517985092') format('woff'),
       url('iconfont.ttf?t=1659517985092') format('truetype');
}

.portal-iconfont {
  font-family: "portal-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-portal-success:before {
  content: "\e61a";
}

.icon-portal-fail:before {
  content: "\e619";
}

.icon-portal-error-copy:before {
  content: "\e65c";
}

.icon-portal-error:before {
  content: "\e656";
}

.icon-portal-JobLog:before {
  content: "\e618";
}

.icon-portal-Log:before {
  content: "\e617";
}

.icon-portal-icon_HelpDoc:before {
  content: "\e616";
}

.icon-portal-help2:before {
  content: "\e615";
}

.icon-portal-enable:before {
  content: "\e610";
}

.icon-portal-add:before {
  content: "\e60d";
}

.icon-portal-user2:before {
  content: "\e60e";
}

.icon-portal-disable:before {
  content: "\e60f";
}

.icon-portal-lock:before {
  content: "\e611";
}

.icon-portal-save:before {
  content: "\e612";
}

.icon-portal-add2:before {
  content: "\e613";
}

.icon-portal-delete:before {
  content: "\e614";
}

.icon-portal-edit:before {
  content: "\e60c";
}

.icon-portal-orgMark:before {
  content: "\e65b";
}

.icon-portal-org:before {
  content: "\e65a";
}

.icon-portal-fold:before {
  content: "\e60b";
}

.icon-portal-verificationCode:before {
  content: "\e603";
}

.icon-portal-user:before {
  content: "\e608";
}

.icon-portal-password:before {
  content: "\e609";
}

.icon-portal-language:before {
  content: "\e60a";
}

.icon-portal-warn:before {
  content: "\e602";
}

.icon-portal-message:before {
  content: "\e604";
}

.icon-portal-help:before {
  content: "\e607";
}

.icon-portal-grid:before {
  content: "\e605";
}

.icon-portal-right:before {
  content: "\e606";
}

.icon-portal-left:before {
  content: "\e601";
}

.icon-portal-expand:before {
  content: "\e600";
}

