// 两票统计
.twoBillsStatistics {
    display: flex;
    flex-direction: column;
    height: 390px;

    // 头部
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 20px;
        background-color: rgba(28, 104, 134, 0.3);
        height: 42px;
        
        // 标题
        .title {
            display: flex;
            align-items: center;
            font-size: 16px;

            .titleIcon {
                width: 4px;
                height: 16px;
                margin-right: 10px;
                background-color: #03E6F5;
                border-radius: 2px;
            }
        }
    }

    // 图表
    .echarts {
        flex: 1;
        margin-top: 10px;
    }
}