/*
 * @Author: sds 
 * @Date: 2021-12-02 09:27:30 
 * @Last Modified by: sds
 * @Last Modified time: 2022-09-06 19:35:31
 */
.handleIcon {
    color: #00f3ff;
    cursor: pointer
}

.handleIconDisabled {
    // cursor: not-allowed !important;
    pointer-events: none;
}